body {
  position: relative;
  display: table;
  text-align: center;
  margin: 0 auto;

  /*width: 1100px;*/
  font-family: Tahoma;
}

#right_side {
  position: relative;
  left: 400px;
}
#logo {
  position: relative;
  right: 100px;
  /* margin: 50px; */
  margin-top: 100px;
}

/*#calendar {
    margin:0 auto;
    width: 90%;
}*/
