body {
  position: relative;
  display: table;
  text-align: center;
  margin: 0 auto;
  font-family: Tahoma;
  font-family: 'Gamja Flower', cursive;
}

#right_side {
  position: relative;
  left: 300px;
  font-family: 'Gamja Flower', cursive;
}
#logo {
  position: relative;
  right: 100px;
  margin-top: 200px;
}

#calendar {
    margin:0 auto;
    width: 90%;
    font-family: 'Gamja Flower', cursive;
}
